.container{
    width: 90%;
    margin: auto;
}

.container-fluid{
    width: 100%;
}

.row{
    margin: 6rem 0;
}

.grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    gap: 1rem;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}

.grid-tile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1;
}

.desktop{
    height: 0;
    overflow: hidden;
}

.btn{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}


@media (min-width: 800px) {

    .desktop{
        height: auto;
    }

    .mobile{
        height: 0;
        overflow: hidden;
    }

    .container{
        width: 75%;
        }

    .container-fluid{
        width: 75%;
        margin: auto;
    }

    .row{
        margin: 6rem 0;
    }

    .btn{
        margin: 5rem 0;
    }

}